#map { 
    width: 60%;
    height: 70%;
}

p{
    font-size: 1.6em;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

body{
    background: url(../img/fond2.jpg) no-repeat center;
    background-size: cover;
}

.logo{
	max-width: 12%;
	height: auto;
}