
body{
    background: url(../img/travel.jpg) no-repeat center;
    background-size: cover;
}

li{
    padding-left:20px;
    padding-right:20px;
}

.acc{
    text-align: center;
    padding-top: 110px;
    justify-content: center !important;
}
h1{
    background: -webkit-linear-gradient(whitesmoke 50%, transparent);
    margin-top: 210px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    justify-content: center;
}

p{
    color: rgba(245, 245, 245, 0.8);
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}


h3{
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-top: 300px;
}