
body{
    background: url(../img/travel.jpg) no-repeat center;
    background-size: cover;
}

li{
    padding-left:20px;
    padding-right:20px;
}

.acc{
    text-align: center;
    padding-top: 110px;
    justify-content: center !important;
}
h1{
    background: -webkit-linear-gradient(whitesmoke 50%, transparent);
    margin-top: 210px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    justify-content: center;
}

#start{
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(100, 161, 157);
    color: white;
    opacity: 0.8;
    margin: 15px;
    font-family: 'Noto Sans JP', sans-serif;
}

#start:hover{
    opacity: 1.3;
}

p{
    color: rgba(245, 245, 245, 0.8);
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
}

